/* .header,
.header_inner,
.header_inner1,
.header_inner2,
.logo,
.nav,
.search,
.navs {
  border: 1px solid blue;
} */
.header {
  width: 100%;
  height: 16.0%;
  /* background-image: url("../../../../public/images/header-background.svg"); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_inn1 {
  width: 62.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: space-between;
  align-items: center; */
}
.header_inner1 {
  width: 100%;
  height: 14.4%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
/* .header_inner1:hover {
  background: #ffffff;
} */
.logo {
  width: 100%;
  height: 50.3%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
/* .header_inner1:hover .logo img {
  color: #69bf45;
} */

.search {
  width: 54.9%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_search {
  width: 51.6%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input_search input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  background-color: #F7F7FD;
  border-radius: 4px;
}

/* .header_inner1:hover .input_search {
  border: 2px solid #398eb1;
  box-sizing: border-box;
  border-radius: 5px;
} */
/* .header_inner1:hover .input_search input {
  border: none;
  background-color: transparent;
  width: 97.6%;
  height: 100%;
} */
.input_search input:focus {
  border: none;
}
/* .input_search input::placeholder {
  color: transparent;
} */
/* .header_inner1:hover .input_search input::placeholder {
  color: #cccccc;
} */

/* .imgSearch {
  color: #212121;
} */
/* .header_inner1:hover .imgSearch {
  color: #398eb1;
} */
.reg_btn {
  width: 183px;
  height: 40px;
  color: #605DEC;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  border: 1px solid #605DEC;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ffffff;
}
.log_btn {
  width: 88px;
  height: 40px;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  background-color: #605DEC;
  border: 1px solid #605DEC;
  border-radius: 4px;
  cursor: pointer;
 
}
/* .header_inner1:hover .log_btn {
  background-color: #ffffff;
  border: 2px solid #398eb1;
  color: #398eb1;
} */
/* .header_inner1:hover .log_btn:hover {
  color: #ffffff;
  background-color: #398eb1;
  border: none;
} */
.nav {
  width: 100%;
  height: 18.3%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.navs {
  /* font-family: "Raleway", sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 120%;
}
.navs:hover {
  color: #605DEC;
  border-bottom: 2px solid #605DEC;
  cursor: pointer;
}
/* .navs1 {
  color: #b9c3cd;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  cursor: pointer;
} */
/* .header_inner1:hover .navs1:hover {
  color: #398eb1;
  font-weight: 600;
  border-bottom: 2px solid #398eb1;
} */
/* .navs2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  cursor: pointer;
} */
/* .header_inner1:hover .navs2 {
  color: #398eb1;
}
.header_inner1:hover .navs2:hover {
  border-bottom: 2px solid #398eb1;
} */
.header_inner2 {
  width: 100%;
  height: 80.9%;
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  align-items: start;
  justify-content: center; */
}
.header_inn2 {
  width: 62.5%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  /* flex-direction: column;
  justify-content: center;
  align-items: start; */
}
.travio_inner {
  width: 61.0%;
  height: 29.1%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  /* position: absolute; */
}
.travio {
  width: 100%;
  color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 700;
  font-size: 56px;
  font-style: normal;
  line-height: 110%;
  /* margin-bottom: 4.4%; */
}
.opis {
  width: 60%;
  color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 21.6px;
  /* margin-bottom: 7%; */
}
.join {
  width: 30.3%;
  height: 25.6%;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  background-color: #605DEC;
  border: 1px solid #605DEC;
  cursor: pointer;
  border-radius: 4px;
}
.header_img {
  width: 80.7%;
  height: 81.8%;
  position: absolute;
  left: 35%;
}
/* .join:hover {
  color: #ffffff;
  background-color: #398eb1;
  border: none;
} */

@media (max-width: 1440px) {
  .reg_btn {
    width: 124px;
    height: 34px;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    margin-left: 5.8%;
  }
  .log_btn {
    width: 67px;
    height: 34px;
    font-size: 14px;
    font-style: normal;
    line-height: 17px;
    margin-left: 20px;
  }
  .navs1 {
    font-size: 13px;
   
  }
  .navs2 {
    font-size: 13px;
  }
  .travio {
   font-size: 55px;
  }
  .opis {
    font-size: 19px;
  }
  .join {
    width: 16.7%;
    font-size: 16px;
  }
}