/* .news,
.news_inner,
.news_travio,
.news_blocks,
.news_block {
  border: 1px solid blue;
} */
.news {
  width: 100%;
  height: 17.4%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.news_inner {
  width: 62.5%;
  height: 88.9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.news_eco {
  width: 100%;
  height: 5.6%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.news_travio {
  width: 100%;
  height: 100%;
  color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
}
/* .news_btn {
  width: 15.5%;
  height: 57.1%;
  color: #398eb1;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  background-color: #ffffff;
  border: 2px solid #398eb1;
  cursor: pointer;
  border-radius: 5px;
} */
.news_blocks {
  height: 88.9%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news_blocks1, .news_blocks2{
width: 100%;
height:48.1%;
display:flex;
align-items: start;
justify-content: space-between;
}

.news_block {
  width: 32.0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.news_img{
    width: 100%;
    max-width:384px;
}
.news_img img{
  width: 100%;
 
}
.news_title{
    color: #212121;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.6px; 
}
.news_text{
    color: #212121;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px; 
}
/* .news_date{
    width: 100%;
    display: flex;
    justify-content: space-between;
} */
.news_date1{
    color: #A8A8A8;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
}
.news_date2{
  width:100%;
    color: #605DEC;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    /* text-decoration: underline; */
    cursor: pointer;
    display: flex;
    justify-content: end;
}
@media (max-width: 1440px) {
  .news_travio {
    width: 50.6%;
    font-size: 35px;
    
  }
  .news_btn {
    width: 19.5%;
  }
  .news_title{
    font-size: 15px;
  }
  .news_text{
    font-size: 13px;
  }
  .news_date1, .news_date2{
    font-size: 12px;
  }
}