/* .main,
.main_inner,
.main_inner1 {
  border: 1px solid blue;
} */
.main {
  width: 100%;
  height: 13.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F3FE;
}
.main_inner {
  width: 62.3%;
  height: 64.3%;
  display: flex;
}
.main_inner1 {
  width: 53.1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.main_travio {
  color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  /* font-family: "Raleway", sans-serif; */
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  line-height: 120%;
}
.mains {
  width: 100%;
  height: 80.2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.m1 {
  width:83.8%;
  height: 22.1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m2 {
  width:100%;
  height: 22.1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .m1 img {
  margin-right: 7.9%;
} */
.main_number{
  width: 80px;
  height: 80px;
  background-color: #605DEC;
  color: #ffffff;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* .mains_text1,
.mains_text2,
.mains_text3,
.mains_text4 {
  color: #333333;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
} */
.mains_text1 {
  width: 77.1%;
}
.mains_text2 {
  width: 77.1%;
}
.mains_text3 {
  width: 80.8%;
}
.main_textHeader{
  width:100%;
  color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  line-height: 38.4px;
}
.mainText{
  color: #333333;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
}
/* .mains_text4 {
  width: 55.5%;
} */
/* .main_inner2 {
  width: 60.7%;
  height: 100%;
  display: flex;
  align-items: end;
} */
/* .main_inner2 img {
  width: 100%;
} */
@media (max-width: 1440px) {
  .main_inner2 {
    height: 85%;
  }
  .mains_text1,
  .mains_text2,
  .mains_text3,
  .mains_text4 {
   font-size: 14px;
}
}