/* .registration,
.registration_inner,
.reg_inner1,
.reg_inner2,
.pass_must,
.rules {
  border: 1px solid blue;
} */
.registration {
  margin: 0 auto;
  /* width: 100%; */
  width: 792px;
  height: 676px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-top: 170px;
  /* background: linear-gradient(81.3deg, #b3d946 5.44%, #737dd4 98.03%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 29.4%;
  z-index: 1000;
}
.registration_inner {
  width: 85.9%;
  height: 83.3%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
/* .registration_innerUp{
width:100%;
height: 82.9%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: start;
} */
/* .reg_inner1 {
  width: 68%;
  height: 10.5%;
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 31px;
  font-style: normal;
  line-height: 36.58px;
  text-align: center;
  margin-top: 5.7%;
  margin-bottom: 5.7%;
} */
.reg_inner2 {
  width: 88.5%;
  height: 72.8%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.reg_mail,
.reg_password {
  width: 100%;
  height: 10.0%;
  border: none;
  border-radius: 4px;
  padding-left: 2.9%;
  /* border-bottom: 1px solid #a8a8a8; */
  color: #8A8894;
  background-color: #F7F7FD;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* font-style: normal; */
  line-height: 24px;
}
.pass_must {
  width: 100%;
  height: 13.9%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.must_title {
  width: 100%;
  height: 28.2%;
  color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* font-style: normal; */
  line-height: 22.4px;
}
.must_main{
  width: 100%;
  height: 56.4%;
  display: flex;

}
.must_main1{
width: 29.1%;
height: 100%;
margin-right: 3.5%;
}
.must_main2{
  width: 26.2%;
  height: 100%;
}

.must_text {
  color: #8A8894;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* font-style: normal; */
  line-height: 22.4px;
  display: flex;
}
.must_text img {
  margin-right: 6px;
}
.rules {
  width: 100%;
  height: 9.3%;
  color: #212121;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* font-style: normal; */
  line-height: 22.4px;
}
.registr_btn {
  /* margin-top: 5.7%; */
  /* width: 29.4%;
  height: 5.7%; */
  width: 216px;
  height: 56px;
  background-color: #605DEC;
  color: #ffffff;
  border-radius: 4px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* font-style: normal; */
  line-height: 24px;
  border: none;
  cursor: pointer;
 margin-left: 68.2%;
}
.registration2{
  margin: 0 auto;
  /* width: 100%; */
  width: 996px;
  height: 1011px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-top: 33px;
  /* background: linear-gradient(81.3deg, #b3d946 5.44%, #737dd4 98.03%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 24.1%;
  z-index: 1000;
}
.registration_inner2 {
  width: 88.8%;
  height: 88.9%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .reg_inner1 {
    font-size: 26px;
  }
  .must_title, .must_text{
    font-size: 11px;
  }
  .rules {
    font-size: 10.1px;
  }
  .registr_btn {
    font-size: 14px;
    
  }
}